extends ../layoutsDetails/common

block content      
    .col-12.pt-4.bg-white 
      .d-flex.flex-column.ms-3.me-3 
        .fs-2.mt-3.mb-3 Create project quest

        .d-flex
            .col-2 
            .col-8 
                if errors 
                    each error in errors
                        .alert.alert-danger= error

                form(action=`/projects/${id}/create`, method="POST")
                    .form-group
                        label.fs-5(for="name") Quest name
                        input#name.form-control(type="text", name="name")
                    button.btn.btn-primary.mt-3(type="submit") Create quest 
            .col-2
