extends ./layouts/common

block content      
    .col-12.pt-4.bg-white 
      .d-flex.flex-row.justify-content-around 
        .fs-2.mt-3 Index 
         

    //-     form.d-flex.mt-3.ms-3.me-3(action="/list/search", method="GET")
    //-       input.form-control.me-2(type='text', placeholder='Search', aria-label='Search', name='q', value=input)
    //-       button.btn.btn-danger.text-black Search 

    //-     a.nav-items.btn.btn-danger.fs-2.text-black.shadow(href="/") + 

    //- .col-12.d-flex.mt-4
    //-   .col-1 
    //-   .col-10
    //-     table.table-danger

          
    //-         tr 
    //-           th 
    //-             input.form-check-input(type='checkbox', value='')
    //-           td 
    //-             .fs-5.ms-5 ngu

          
  
    //-   .col-1
      
