extends ./layouts/common

block content      
  .container-fluid.ps-4.d-flex.flex-row.bg-light   
    .col-2.pt-4   
      .d-flex.flex-column
        a.nav-items.btn.btn-secondary.w-75.mt-3.shadow(href="/users") My works
        
        a.nav-items.btn.btn-success.w-75.mt-3.shadow(href="/users/create") Projects
        
        a.nav-items.btn.btn-info.w-75.mt-3.shadow(href="/") Today

        a.nav-items.btn.btn-warning.w-75.mt-3.mb-5.shadow(href="/users/create") Important 

    .col-10.pt-4.bg-white 
      .d-flex.flex-row.justify-content-between 
        .fs-2.ps-5 Today 
        a.nav-items.btn.btn-danger.me-5.fs-2.text-black.shadow(href="/") +  
