extends ../layouts/common

block content      
    .col-12.pt-4.bg-white 
      .d-flex.flex-row.justify-content-around 
        .fs-2.mt-3 Today 
        
        a.nav-items.btn.btn-danger.fs-2.text-black.shadow(href="/today/create") + 

    .col-12.d-flex.mt-4
      .col-3
      .col-6
        table.table-danger
          each today in todays
            tr 
              th
                input.form-check-input.me-5(type='checkbox', value='')
              td= today.title
              td
                form(action="/today", method="POST")
                  button.btn.btn-primary.ms-5 Remove

          
  
      .col-3
      
