extends ../layouts/common

block content      
    .col-10.pt-4.bg-white 
      .d-flex.flex-row.justify-content-between 
        .fs-2.ps-5 My Works 
        a.nav-items.btn.btn-danger.fs-2.text-black.shadow(href="/") +  